<form #f="ngForm" (ngSubmit)="submit(f)">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <!--<input id="firstName" type="text" class="form-control">-->
    <input 
      required 
      minlength=4 
      maxlength="10" 
      pattern="banana" 
      ngModel 
      name="firstName" 
      #firstName="ngModel" 
      (change)="log(firstName)" 
      id="firstName" 
      type="text" 
      class="form-control">
    <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
      <div *ngIf="firstName.errors.required">First Name is required</div>  
      <div *ngIf="firstName.errors.minlength">First Name should be minimum of {{firstName.errors.minlength.requiredLength}} characters</div>
      <div *ngIf="firstName.errors.pattern">First Name doesn't match the pattern</div>
    </div>
  </div>

  <div class="form-group">
      <label for="comment">Comment</label>
      <textarea ngModel name="comment" id="comment" cols="30" rows="10" class="form-control"></textarea>
    </div>

    <!--checkbox-->
    <div class="checkbox">
        <label>
            <input type="checkbox" ngModel name="isSubscribed">Subscribe to mailing list
        </label>
    </div>
    <p>
        {{f.value | json}}
    </p>

    <!--Dropdown List-->
    <div class="form-group">
        <label for="contactMethod">Contact Method </label>
        <select multiple ngModel name="contactMethod" id="contactMethod" class="form-control"> <!--remove multiple for dropdown single selection-->
            <option value=""></option>
            <option *ngFor="let method of contactMethods" [ngValue]="method">{{method.name}}</option>
            <!--<option *ngFor="let method of contactMethods" [value]="method.id">{{method.name}}</option>-->

           <!-- <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            <option value="4">Four</option>      -->      
        </select>
    </div>

    <!--Radiobutton-->

    <div *ngFor="let method of contactMethods" class="radio">
            <label for="">
                <input ngModel type="radio" name="contactMethod" [value]="method.id">
                {{method.name}}
            </label>
        </div>
    <!--
        
        <div class="radio">
        <label for="">
            <input ngModel type="radio" name="contactMethod" value="1">
            Email
        </label>
    </div>
    <div class="radio">
            <label for="">
                <input ngModel type="radio" name="contactMethod" value="2">
                Phone
            </label>
        </div>
    -->

    <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form> 